<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Увеличиваем лимит загрузки до ~100 МБ (в байтах) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
